@tailwind base;
@tailwind components;
@layer components {
    .modal {
        @apply backdrop-blur-md backdrop-grayscale grid place-items-center fixed
        w-full top-0 h-full
    }

    .divider-edit {
        @apply before:border-t-white after:border-t-white
    }

    .divider-black {
        @apply before:border-t-black  after:border-t-black
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .animation-opacity {
        @apply group-hover:-translate-x-8 group-hover:opacity-100 duration-500 transition ease-in-out
    }

    .form-field-wrapper {
        @apply relative pt-6
    }

    .error-text {
        @apply font-poppins font-bold pb-2 text-red-600 text-sm text-center absolute w-full top-0
    }

}


body {
    background: linear-gradient(110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%);


    --swiper-navigation-color: #FB8500;
}

body::-webkit-scrollbar {
    width: 0.2em;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #939393;
}


button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}


@tailwind utilities;