@tailwind base;
@tailwind components;

@layer base {
    :root {
        --color-bg-primary: radial-gradient(circle at 0% 60%, rgba(72,75,106, 1) 1%, rgba(147,148,165, 1) 23%, rgba(228,229,241, 1) 40%, rgba(228,229,241, 1) 50%, rgba(254, 255, 255, 1) 60%);
        --color-contrast: black;
    }

    :root[class="dark"] {
        --color-bg-primary:
                radial-gradient(circle at 0% 54%, rgba(32, 38, 57, 1) 1%, rgba(39, 32, 57, 1) 30%, rgba(17, 11, 20, 1) 50%, rgba(0, 0, 0, 1) 100%);
        --color-contrast: white;
    }
}

@layer components {
    .modal {
        @apply backdrop-blur-md backdrop-grayscale grid place-items-center fixed
        w-full top-0 h-full
    }

    .divider-edit {
        @apply before:border-t-contrast after:border-t-contrast
    }

    .divider-black {
        @apply before:border-t-black  after:border-t-black
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .animation-opacity {
        @apply group-hover:-translate-x-8 group-hover:opacity-100 duration-500 transition ease-in-out
    }

    .form-field-wrapper {
        @apply relative pt-6
    }

    .error-text {
        @apply font-poppins font-bold pb-2 text-red-600 text-sm text-center absolute w-full top-0
    }

    .animate-theme {
        @apply transition-colors ease-in-out duration-1000
    }

    body {
        @apply animate-theme
    }

}

body {
    background: var(--color-bg-primary);
    --swiper-navigation-color: #FB8500;
}

body::-webkit-scrollbar {
    width: 0.2em;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #939393;
}


button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}


@tailwind utilities;